global:
  resolve_timeout: 5m

route:
  group_by:
    - alertname
    - job
    - instance
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: default-null

receivers:
  - name: default-null
