global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitoring_stack: unified

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: alertmanager
    static_configs:
      - targets:
          - alertmanager:9093

  - job_name: node_exporter
    static_configs:
      - targets:
          - node_exporter:9100

  - job_name: cadvisor
    static_configs:
      - targets:
          - cadvisor:8080

  - job_name: blackbox_exporter
    static_configs:
      - targets:
          - blackbox_exporter:9115

  - job_name: http_probes
    metrics_path: /probe
    params:
      module:
        - http_2xx
    static_configs:
      - targets:
          - http://librenms:8000
          - http://grafana:3000/login
          - http://influxdb:8086/health
          - http://prometheus:9090/-/ready
    relabel_configs:
      - source_labels:
          - __address__
        target_label: __param_target
      - source_labels:
          - __param_target
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115

  - job_name: tcp_probes
    metrics_path: /probe
    params:
      module:
        - tcp_connect
    static_configs:
      - targets:
          - syslogng:514
          - snmptrapd:162
          - db:3306
          - redis:6379
    relabel_configs:
      - source_labels:
          - __address__
        target_label: __param_target
      - source_labels:
          - __param_target
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
